<footer class="page-footer font-small color-rodape pt-4">

  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

          <ul class="Social-network">
            <li>
            <a href="https://github.com/mayaralbueno" target="_blank" class="icoGitHub">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>  
            </li>

            <li>
              <a href="https://www.instagram.com/mayara.s.bueno/" target="_blank" class="icoInstagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              
              </a>  
              </li>
              <li>
                <a href="https://www.linkedin.com/in/mayara-bueno-b9bb55212/" target="_blank" class="icoLikedln">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>  
                </li>

          </ul>

        </div>
      </div>
    </div>
  </div>
</footer>
