#img-bg{
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/968724230983374850/F387A574CD70E74ACA10FE8DC646A71C789DEF23/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);

  min-height: 695px;
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
}
.color-cadastrar{
  background-color: #977c9c;
  
}