#img-bg{
  background-image: url(https://www.ubackground.com/_ph/4/704297431.jpg);

  min-height: 695px;
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
}
color-entrar{
  background-color: rgb(243, 191, 219);
}