<div class="container-fluid">

   <div class="row indice-color d-flex align-items-center">
      <div class="col-md-6">

         <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-white">
               <h1 class="fs-54">Seja bem vindo(a)!</h1>
               <h5>Expresse aqui os seus pensamentos e opiniões</h5>
            </div>
         </div>
         <br>
         <div class="row  d-flex justify-content-center mt-3 mb-5">
            <div class="col-md-6">
               <button class="btn btn-light mr-2">Nova Postagem</button>

               <a class="btn btn-outline-light" href="">Ver Postagens</a>
            </div>
         </div>

      </div>

      <div class="col-md-6  d-flex justify-content-center">
         <img src="https://theme.zdassets.com/theme_assets/2438567/b23feca7c0698f651ef0288472af63dd5e8d1b33.png" alt="500px " height="500px">
      </div>
   </div>


</div>
<div class="container mb-5 mt-5">

   <ul class="nav nav-pills mb-3 d-flx justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item " role="presentation">
        <button class="nav-link active text-secondary" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Todas as Postagens</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Minhas Postagens</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Postagens por tema</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    </div>
</div>